<div class="container">
    <h1 alt="page title">University of Edinburgh Exam Papers Online</h1>
    <p alt="information about the universities exam papers site">
        Exam Papers Online is a service provided by University of Edinburgh Library and University Collections for students and staff of The University of Edinburgh.
    </p>
    <p>
        These pages will be updated periodically, as more papers become available. If you cannot find the paper you are looking for, please email
        <a alt="Link to exam papers email address" title="Link to Exam Papers email" href="mailto:exam.papers@ed.ac.uk">exam.papers@ed.ac.uk</a>, 
        or try visiting again at a later date.
    </p>
    <p>
        These pages are part of the collected Degree Examination Papers of the University of Edinburgh and are provided for use by its students as a study aid. No other use is permitted.
    </p>
    <p>
        Bound volumes of older sets - up to academic year 2004/2005 - have now been moved to the University Collections Facility and may be retrieved upon request.
        Further information on accessing materials stored in the university are available from:
        <a alt="Link to the Univeristy Collections facility website" title="External link to details about accessing the University Collections Facility materials" target="_blank" href="https://www.ed.ac.uk/information-services/library-museum-gallery/using-library/lib-locate/university-collections-facility">University Collections Facility.</a>
    </p>
</div>