.text-lg-start {
    border-top: 1px solid #c6c8c9;
}
footer .row {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.footer-left a {
    margin-right: 1rem;
}
.footer-right {
    text-align: right;
}