// Add any global css for the theme here

h1, h2, h3, h4, h5, span, a {
    color: #186599;
}

.btn-primary {
    background-color: #186599;
    border-color: #566b81;
}

button.btn.btn-secondary {
    background-color: #186599;
}
button.btn.btn-secondary.active,
.btn-secondary:not(:disabled):not(.disabled):active, 
.btn-secondary:not(:disabled):not(.disabled).active, 
.show > .btn-secondary.dropdown-toggle {
    background-color: #122538;
}
span.fas.fa-list, span.fas.fa-th-large {
    color: #fff;
}
.btn-success { 
    background-color: #108916;
}
.button-row.top.d-flex.my-2.space-children-mr.ml-gap span,
.button-row.top.d-flex.mt-2.space-children-mr span {
    color: #fff;
}

.simple-view-element {
    border-bottom: 1px dashed #c6c8c9!important;
}

.admin-menu-header h4 {
    color: #fff;
}
.sidebar-section span {
    color: #fff;
}

// imports the base global style
@import '../../../styles/_global-styles.scss';
