:host {

    .navbar {
        background-color: #007AB8;
    }

    .navbar-inner-container {
        background-color: #007AB8;
    }

    ::ng-deep a.nav-link.admin-login-link,
    ::ng-deep a.nav-link.admin-login-link:hover {
        color: white;
    }

}