<div class="container">
    <h1 alt="page title">Exam Papers Online FAQs</h1>
    <h2 alt="subsection title">...For Students</h2>
    <h3 alt="frequently asked question"> I can't find my paper. Why?</h3>
    <p alt="answer to frequently asked question">
        If you have tried all of the search tips and cannot find an entry for your paper it might be missing for one of the following reasons:
    </p>
    <ul alt="list of possible reasons for exclution of desired exam paper">
        <li>We have not been sent the paper by the department. While we do our best to collect all papers there will inevitably be gaps in our records.</li>
        <li>The department does not want it made available online. It is at the discretion of teaching staff as to whether a past exam paper is made available online. Some departments ask that none of the papers are placed on Exam Papers Online, others may only want the most recent papers to be available.</li>
        <li>We have recently received the paper. The paper may have recently been sent to us by a department and is awaiting processing by us. Please try again later.</li>
        <li>This is the first year the course has run. If this is the first year a course has run then there will not be any record of the course on Exam Papers Online, as no past examinations have been sat.</li>
        <li>The course hasn't run every year. Not all courses run every year so there may be gaps in our holdings. If there is no record for a paper it is because it wasn't sat that year.</li>
        <li>It is not the type of exam paper we hold. We only hold digitised copies of print degree examination papers. We do not hold computer-based, class or practical examinations.</li>
        <li>If you require more information as to why a paper isn't available online please email us.</li>
    </ul>
    <h3 alt="frequently asked question">Do you hold the answers to exam papers?</h3>
    <p alt="answer to frequently asked question">
        No, we only hold the examination papers that have been sat in past years, not the solutions.
    </p>
    <h3 alt="frequently asked question">A section has been removed from my paper. Why?</h3>
    <p alt="answer to frequently asked question">
        Some sections, such as multiple choice questions, may have been removed from papers by the department, or others may be have been removed due to copyright restrictions.
    </p>
    <h3 alt="frequently asked question">Where can I find pre-2004 exam papers?</h3>
    <p alt="answer to frequently asked question" id="faq-div-p">
        We hold some digitised exam papers from 1995 to 2004 in our archive. Please email us if you require older papers. Original print copies of papers further back are held at the
        <a alt="link to the univeristy's collection facility wbsite" title="Clink to view details about accessing the University Collections Facility materials" target="_blank" href="https://www.ed.ac.uk/information-services/library-museum-gallery/using-library/lib-locate/university-collections-facility">University Collections Facility.
        </a>
    </p>
    <br>
    <h2 alt="subsection title">...For Administrative &amp; Teaching Staff</h2>
    <h3 alt="frequently asked question">How do I submit an exam paper to go online?</h3>
    <p alt="answer to frequently asked question">
            Once the examination period is over papers can be emailed to us at any time, in Word or pdf format. We send out email reminders out 3 times a year,
            after each examination diet. If you wish to be included in the mailing list please contact us.
        </p>
    <h3 alt="frequently asked question">Can you tell me what exam papers are missing from my subject?</h3>
    <p alt="answer to frequently asked question">
        Yes, please email us with the details of the subject you are responsible for and we can provide a list of the papers not currently held.
    </p>
    <h3>How can I have a paper taken down?</h3>
    <p alt="answer to frequently asked question">
        Please email us with the details of the paper you wish removed.
    </p>
    <p>
        If you have any other questions please email us at 
        <a alt="Link to exam papers email address" title="Link to Exam Papers email" href="mailto:exam.papers@ed.ac.uk">exam.papers@ed.ac.uk</a>
    </p>
</div>