<footer class="text-lg-start py-3">
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="container-fluid">
        <div class="container sta-footer-content">
            <div class="d-flex flex-row justify-content-start">
                <div class="row">
                    <div class="d-flex flex-row justify-content-start">
                        <div class="row">
                            <div class="col-3 text-white mt-2 mb-3">
                                <h5>Open Access</h5>
                                <p>To find out how you can benefit from open access to research, see our <a
                                        target="_blank" title="University of St Andrews Library Open Access web pages"
                                        href="https://www.st-andrews.ac.uk/research/support/open-research/open-access/">library
                                        web pages</a> and <a target="_blank" title="Open Access Blog"
                                        href="//univstandrews-oaresearch.blogspot.co.uk/">Open Access blog</a>. 
                                </p>
                                <p>For open
                                    access
                                    help contact: <a
                                        href="mailto:openaccess@st-andrews.ac.uk">openaccess@st-andrews.ac.uk</a>.
                                </p>
                                <h5>Accessibility</h5>
                                <p>Read our <a title="Accessibility statement" href="/page/accessibility">Accessibility
                                        statement</a>.</p>
                            </div>

                            <div class="col-3 text-white mt-2 mb-3">
                                <h5>How to submit research papers</h5>
                                <p>The full text of research papers can be submitted to the repository via <a
                                        target="_blank" title="Pure"
                                        href="https://www.st-andrews.ac.uk/research/support/pure/">Pure</a>, the
                                    University's research information system. For help see our guide: <a target="_blank"
                                        title="How to deposit in Pure"
                                        href="https://www.st-andrews.ac.uk/research/support/open-research/open-access/how-to-deposit/">How
                                        to deposit in Pure</a>.</p>
                            </div>


                            <div class="col-3 text-white mt-2 mb-3">
                                <h5>Electronic thesis deposit</h5>
                                <p>Help with <a title="Help with electronic theses deposit" target="_blank"
                                        href="https://libguides.st-andrews.ac.uk/c.php?g=669998p=5027192">deposit</a>.
                                </p>
                                <h5>Repository help</h5>
                                <p>For repository help contact: <a
                                        title="Email address for St Andrews Research Repository"
                                        href="mailto:Digital-Repository@st-andrews.ac.uk">Digital-Repository@st-andrews.ac.uk</a>.
                                </p>
                                <p>
                                    <a title="For sharing feedback about the St Andrews Research Repository"
                                        href="/feedback">Give
                                        Feedback</a>
                                </p>
                            </div>


                            <div class="col-3 text-white mt-2 mb-3">
                                <h5>How to submit research papers</h5>
                                <p>The full text of research papers can be submitted to the repository via <a
                                        target="_blank" title="Pure"
                                        href="https://www.st-andrews.ac.uk/research/support/pure/">Pure</a>, the
                                    University's research information system. For help see our guide: <a target="_blank"
                                        title="How to deposit in Pure"
                                        href="https://www.st-andrews.ac.uk/research/support/open-research/open-access/how-to-deposit/">How
                                        to deposit in Pure</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                        <div class="row">

                            <div class="col-9 text-white mt-2 mb-3">
                                <p>&copy; University of St Andrews Library</p>
                                <p>University of St Andrews is a charity registered in Scotland, No SC013532.</p>
                            </div>
                            <div class="col-3 text-white mt-2 mb-3">
                                <div class="row">
                                    <a class="col-md-6" target="_blank" href="https://www.facebook.com/uniofsta">
                                        <img class="img-fluid sta-logo float-right"
                                            src="/assets/sta/images/facebook-logo-svg.svg " />
                                    </a>
                                    <a class="col-md-6" target="_blank" href="https://twitter.com/univofstandrews/">
                                        <img class="img-fluid sta-logo float-right"
                                            src="/assets/sta/images/twitter-logo-svg.svg " />
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
</footer>