:host {
    footer {
      background-color: #202024;
      border-top: 5px solid #6a6a6b;
      border-bottom: solid 7rem #1a1a1d;
      text-align: left;
      z-index: var(--ds-footer-z-index);
      padding: var(--ds-footer-padding);
  
      .sta-footer-content {
        
        margin-top: -1rem;
        margin-bottom: -1rem;
      }
  
      p {
        margin: 0;
      }
  
      .container.sta-footer-content.sta-footer-content-lower {
        margin-top: 1rem;
        margin-bottom: -7rem;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: #1a1a1d;
    }
      // div > img {
      //   height: var(--ds-footer-logo-height);
      // }
  
  
      // .top-footer {
      //   background-color: var(--ds-top-footer-bg);
      //   padding: var(--ds-footer-padding);
      //   margin: calc(var(--ds-footer-padding) * -1);
      // }
  
      // .bottom-footer {
      //   ul {
      //     li {
      //       display: inline-flex;
  
      //       a {
      //         padding: 0 calc(var(--bs-spacer) / 2);
      //         color: inherit
      //       }
  
      //       &:not(:last-child) {
      //         &:after {
      //           content: '';
      //           border-right: 1px var(--bs-secondary) solid;
      //         }
  
      //       }
      //     }
      //   }
      // }
    }
  }
  