<footer class="text-md-start py-3">
    <!-- Grid container -->
    <div class="container-fluid">
        <!-- Copyright -->
        <div class="container sta-footer-content">
            <div class="d-flex flex-row justify-content-start">
                <div class="row">
                    <div class="d-flex flex-row justify-content-start">
                        <div class="row">
                            <div class="col-3 text-white mt-2 mb-3">
                                <div class="row">
                                    <h3>Open Access</h3>
                                    <p>To find out how you can benefit from open access to research, see our <a
                                            target="_blank"
                                            title="University of St Andrews Library Open Access web pages"
                                            href="https://www.st-andrews.ac.uk/research/support/open-research/open-access/">library
                                            web pages</a> and <a target="_blank" title="Open Access Blog"
                                            href="//univstandrews-oaresearch.blogspot.co.uk/">Open Access blog</a>.
                                    </p>
                                </div>
                                <div class="row">
                                    <p>For open
                                        access
                                        help contact: <a
                                            href="mailto:openaccess@st-andrews.ac.uk">openaccess@st-andrews.ac.uk</a>.
                                    </p>
                                    <h3>Accessibility</h3>
                                    <p>Read our <a title="Accessibility statement"
                                            routerLink="/info/accessibility">Accessibility statement</a>.</p>
                                </div>
                            </div>

                            <div class="col-3 text-white mt-2 mb-3">
                                <h3>How to submit research papers</h3>
                                <p>The full text of research papers can be submitted to the repository via <a
                                        target="_blank" title="Pure"
                                        href="https://www.st-andrews.ac.uk/research/support/pure/">Pure</a>, the
                                    University's research information system. For help see our guide: <a target="_blank"
                                        title="How to deposit in Pure"
                                        href="https://www.st-andrews.ac.uk/research/support/open-research/open-access/how-to-deposit/">How
                                        to deposit in Pure</a>.</p>
                            </div>


                            <div class="col-3 text-white mt-2 mb-3">
                                <h3>Electronic thesis deposit</h3>
                                <p>Help with <a title="Help with electronic theses deposit" target="_blank"
                                        href="https://libguides.st-andrews.ac.uk/c.php?g=669998p=5027192">deposit</a>.
                                </p>
                                <h3>Repository help</h3>
                                <p>For repository help contact: <a
                                        title="Email address for St Andrews Research Repository"
                                        href="mailto:Digital-Repository@st-andrews.ac.uk">Digital-Repository@st-andrews.ac.uk</a>.
                                </p>
                                <p>
                                    Give <a title="For sharing feedback about the St Andrews Research Repository"
                                        routerLink="/info/feedback">Feedback</a>.
                                </p>
                            </div>


                            <div class="col-3 text-white mt-2 mb-3">
                                <h3>Cookie policy</h3>
                                <p>This site may use cookies. Please see <a title="Terms and Conditions" target="_blank"
                                        href="//www.st-andrews.ac.uk/terms/">Terms and Conditions</a>.</p>
                                <h3>Usage statistics</h3>
                                <p>COUNTER-compliant statistics on downloads from the repository are available from the
                                    <a target="_blank" title="IRUS-UK Service" href="http://irus.mimas.ac.uk/">IRUS-UK
                                        Service</a>. <a title="Email an enquiry about IRUS-UK statistics"
                                        href="mailto:openaccess@st-andrews.ac.uk?subject=Enquiry%20about%20IRUS-UK%20statistics">Contact
                                        us</a> for information.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright -->
    </div>
    <div class="container-fluid">
        <div class="container sta-footer-content sta-footer-content-lower">
            <div class="d-flex flex-row justify-content-start">
                <div class="row">
                    <div class="d-flex flex-row justify-content-start">
                        <div class="col text-white mt-2 mb-3">
                            <p>&copy; University of St Andrews Library</p>
                            <p>University of St Andrews is a charity registered in Scotland, No SC013532.</p>
                        </div>
                        <div class="col text-white mt-2 mb-3">
                            <div class="row float-right">
                                <a class="col-md-6" target="_blank" href="https://www.facebook.com/uniofsta">
                                    <img class="img-fluid sta-logo float-right"
                                        src="/assets/sta/images/facebook-logo-svg.svg " />
                                </a>
                                <a class="col-md-6" target="_blank" href="https://twitter.com/univofstandrews/">
                                    <img class="img-fluid sta-logo float-right"
                                        src="/assets/sta/images/twitter-logo-svg.svg " />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>