:host {
    footer {
      background-color: var(--ds-footer-bg);
      text-align: left;
      z-index: var(--ds-footer-z-index);
      border-top: var(--ds-footer-border);
      padding: var(--ds-footer-padding);
  
      .sta-footer-content {
        background-color: var(--ds-top-footer-bg);
        margin-top: -1rem;
        margin-bottom: -1rem;
      }
  
      p {
        margin: 0;
      }
  
      div > img {
        height: var(--ds-footer-logo-height);
      }
  
  
      .top-footer {
        background-color: var(--ds-top-footer-bg);
        padding: var(--ds-footer-padding);
        margin: calc(var(--ds-footer-padding) * -1);
      }
  
      .bottom-footer {
        ul {
          li {
            display: inline-flex;
  
            a {
              padding: 0 calc(var(--bs-spacer) / 2);
              color: inherit
            }
  
            &:not(:last-child) {
              &:after {
                content: '';
                border-right: 1px var(--bs-secondary) solid;
              }
  
            }
          }
        }
      }
    }
  }
  