<ds-themed-home-news></ds-themed-home-news>
<div class="container">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
    </ng-container>
    <ds-themed-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-themed-search-form>
    <p>
        <span class="emphasis">
            University of Edinburgh Exam Papers Online: 2004/05 to 2023/24
        </span>
    </p>
    <p>
        <span class="emphasis">
            To find a paper, use the search box above or select a school from the list on the right:
        </span>
    </p>
    <p class="ds-paragraph">
        The very latest papers added are from the 2023-24 diet. These pages will be updated periodically, as more papers become available.
        If you cannot find the paper you are looking for, please email <a href="mailto:exam.papers@ed.ac.uk" title="Link to Exam Papers email">exam.papers@ed.ac.uk</a>, 
            or try visiting again at a later date.
    </p>
    <div id="search-tip-box" class="ds-static-div">
    <span class="emphasis">Search Tips</span>
    <ul id="test_list" class="ds-simple-list">
    <li class="ds-simple-list-item">
                Typing in the course name or code will bring up suggestions for records already in the database.
            </li>
    <li class="ds-simple-list-item">
                If you cannot find the paper you are looking for from a title search try entering the course code. Course codes can change over time. Click the 'All papers for this course' link in your search results to get full results for the course title.
            </li>
    <li class="ds-simple-list-item">
                You can browse to the paper you are looking for by clicking the options on the right-hand side of the screen to narrow the results by School, subject, year and title.
            </li>
    </ul>
    </div>
    <span class="emphasis">Marking Guides and Sample Solutions</span>
    <p class="ds-paragraph">
        The Library does not hold any marking guides or sample solutions to exam papers. We suggest that you contact the course secretary or 
        course organiser to check if these have been created for your course and how they have been made available.
    </p>
    <span class="emphasis">FAQs</span>
    <p class="ds-paragraph">
            Frequently asked questions for students, and administrative and teaching staff can be found at the <a href="/info/faqs" title="Link to the FAQs page">FAQs Page</a>.
    </p>
    <span class="emphasis">Alternative Formats</span>
    <p class="ds-paragraph"> 
            If you require an exam paper in an alternative format, such as large print or a coloured background, please contact the Exam Papers Online Team, by e-mail at 
            <a href="mailto:exam.papers@ed.ac.uk" title="Link to Exam Papers email">exam.papers@ed.ac.uk</a>, or by phone on 0131 651 1827.
    </p>
</div>
