<div class="container">
    <div class="uoe-logo">
        <a title="Link to the Univeristy of Edinburgh's home page" 
            alt="Image of the Univeristy of Edinburgh's logo" 
            href="https://www.ed.ac.uk/">
            <img alt="University of Edinburgh Logo" src="/assets/exams/images/uoe-logo-black.png">
        </a>
    </div>
</div>
<a class="banner-link" routerLink="/home" title="Link to the home page">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="d-flex flex-wrap">
                <div>
                    <h1 class="display-3">Exam Papers Online</h1>
                </div>
            </div>
        </div>
    </div>
</a>
