<header>
  <div class="container-fluid sta-header-content">
    <div class="container sta-header">
      <div class="mx-auto d-flex flex-row justify-content-between">
        <a class="sta-repository-header" routerLink="/home">
          St Andrews Research Repository

          <span class="oblique"></span>
        </a>
        <a class="" routerLink="/home">
          <img class="img-fluid sta-logo float-right" src="/assets/sta/images/sta-logo.svg"
            [attr.alt]="'menu.header.image.university' | translate" />
        </a>
      </div>
    </div>
  </div>

</header>