<div class="container">
    <h2 alt="page title">This exam paper is unavailable at present</h2>
    <span class="unavailable-title">This may be due to one of the following reasons:</span>
    <ol alt="list of possible reasons the paper is not available" class="unavailable-list">
        <li>The paper has not yet been supplied by the School.</li>
        <li>The School does not wish this paper to be published online.</li>
        <li>The paper contains copyright material which means it cannot be published online.</li>
    </ol>
    <p>If you need for further information please contact
        <a title="Click to email the exam papers department for more information" 
        alt="link to exam papers email address" href="mailto:exam.papers@ed.ac.uk">
            exam.papers@ed.ac.uk</a>
    </p>
</div>