<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="d-flex flex-wrap">
            <div>
                <h2>Welcome to the St Andrews Research Repository</h2>
                <p class="lead">This is the official institutional research repository for the University of St Andrews.
                    The repository contains electronic theses and research publications including articles, conference
                    proceedings, working papers and some research monographs. It also contains material and publications
                    affiliated to the University and arising from specific projects. Full text content is provided for
                    all research publications in the repository, and wherever possible (following embargoes) for
                    electronic theses.</p>

                <p class="lead">The University requires submission of an electronic version of theses. For help with
                    electronic thesis deposit see Library webpages on
                    <a title="how to submit your electronic copy" href="https://libguides.st-andrews.ac.uk/theses"
                        target="_blank">how to submit your electronic copy</a> or contact
                    <a title="mailto:Digital-Repository@st-andrews.ac.uk" href="mailto:Digital-Repository@st-andrews.ac.uk">Digital-Repository@st-andrews.ac.uk</a>.
                </p>

                <p class="lead">The full text of research papers can be submitted to the repository via
                    <a title="How to deposit in Pure"
                        href="https://www.st-andrews.ac.uk/research/support/open-research/open-access/how-to-deposit/"
                        target="_blank">How to deposit in Pure</a>,
                    or contact the Open Access team at <a title="mail to: openaccess@st-andrews.ac.uk"
                        href="mailto:openaccess@st-andrews.ac.uk">openaccess@st-andrews.ac.uk</a>.
                </p>

            </div>
        </div>

    </div>
</div>