:host {
    display: block;
    margin-top: calc(-1 * var(--ds-content-spacing));
    margin-bottom: calc(-1 * var(--ds-content-spacing));
    
    .display-3 {
      word-break: break-word;
    }
  
    .jumbotron {
      background-color: #0000;
    }
  }
  