header {
    background-color: #176599;
}
.navbar {
    padding: 0;
}
.header-right {
    text-align: right;
    padding: 0;
}
.header-right a {
    color: #fff;
    border: 1rem;
}
.header-right a:hover {
    text-decoration: none;
}
.header-right ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    float: right;
}
.header-right li {
    padding: 1rem;
}
.header-right li:hover {
    background-color: #122538;
    cursor: pointer;
}

.loginLink, .dropdownLogin, .logoutLink, .dropdownLogout {
    color: #fff!important;
}