
:host {
    .ds-menu-item-wrapper {
      position: relative; // align dropdown menu with respect to this element
    }
  
    .dropdown-menu {
      overflow: hidden;
      @include media-breakpoint-down(sm) {
        border: 0;
        background-color: var(--ds-expandable-navbar-bg);
      }
      @include media-breakpoint-up(md) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: var(--ds-navbar-dropdown-bg);
      }
    }
  
    .toggle-menu-icon {
        text-decoration: underline;
      &, &:hover {
        text-decoration: none;
        color: #fff;
        padding-left: 0.5rem;
      }
    }
  }
:host {

    ::ng-deep a.nav-link.dropdown-toggle,
    ::ng-deep a.nav-link.dropdown-toggle:hover {
        color: white;
    }
}
